-------------
<h1 align='center'> Data Science Bootcamp: Python Data Structure </h1>

<center align="left"> Developed by: </center>
<center align="left"> WeCloudData Academy </center>
<img src='../images/wcd_logo.png' width='50%'>

## Object

### can use type() to see the type of an object

In [2]:
type(10)

int

In [3]:
type(3.5)

float

In [4]:
type("Abc")

str

In [5]:
type(None)

NoneType

In [6]:
type(True)

bool

### can convert object of one type to another

In [12]:
float(3) #converts integer 3 to float 3.0

3.0

In [13]:
int(4.3) #converts float 4.3 to integer 4

4

### String: concatenate strings

In [16]:
a= "Good"
b= "evening"

greeting =a+" "+b
greeting

'Good evening'

### String: do some operations on a string as defined in Python docs

In [17]:
repeat= a+ " " + b* 3
repeat

'Good eveningeveningevening'

### String: compare strings

We can compare strings with ==, >, <, != etc. Python compares string **lexicographically** i.e using ASCII value of the characters.

### Example
Suppose you have str1  as "Mary"  and str2  as "Mac" .

In [ ]:
str1="Mary"
str2="Mac"
str3="Maay"

str1>str2 #Not compare the length. It is compare the ASCII value
str3>str2

> The first two characters from str1  and str2 ( M  and M ) are compared. As they are equal, the second two characters are compared. Because they are also equal, the third two characters ( r  and c ) are compared. And because 'r'  has greater ASCII value than 'c' , str1  is greater than str2 .

### String: get length

In [3]:
s="abc"
len(s)

3

### String - index

Square brackets used to perform indexing into a string to get the value at a certain index/position 
<img src='../images/string_index.png' width='50%'>

In [ ]:
s="abc"
s[0]
# s[1]
# s[2]
s[3] #out of bound!
# s[-1]
# s[-2]
# s[-3]## 1.3 String - slicing
slice strings using [start:stop:step]

### String - slicing
slice strings using [start:**stop**:step]

In [18]:
s="abcdefghi"
s[1:5]
s[1:5:2]

'bd'

> if give two numbers, [start:stop], step=1 by default

you can also omit numbers and leave just colons

In [7]:
s="abcdefghi"
s[:]
# * you can also omit numbers and leave just colons

'abcdefghi'

### String - immutable
Strings are “immutable” – cannot be modified

In [19]:
s="Jelly"
s[0]="B" #raise an error!

TypeError: 'str' object does not support item assignment

In [20]:
#instead we could create a new variable and cover s
s="B"+s[1:len(s)]
s

'Belly'

### String - other operations

Also, python has several built-in functions associated with the string data type. These functions let us easily modify and manipulate strings. For example, s.lower(),s.upper(), s.capitalize(), s.strip(), s.startwith(), s.endswith(), s.replace(), s.split(), s.join()

For details, please check:[Strings](https://docs.python.org/2/library/string.html)

#### Example
* convert string to list with list(s)

In [21]:
s="Hey! We are in 2018## 1.6 Strings and Loops

* for loops have a loop variable that iterates over a set of values
* range(start:end:step) is a way to iterate over numbers, but a for loop variable can iterate over **any set of values**, not just numbers!

### Example

We want to figure out if there exists letters "b" or "d" inside the string.

* these two code snippets do the same thing
* bottom one is more “pythonic”" #s is a string, inside quotes
list(s) #returns a list with every character from s an element in L

['H',
 'e',
 'y',
 '!',
 ' ',
 'W',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 '2',
 '0',
 '1',
 '8']

* use s.split(), to split a string on a character parameter

In [22]:
s.split() #splits on spaces if called without a parameter
s.split("!") #split by exclamation mark

['Hey', ' We are in 2018']

* use ''.join(L) to turn a list of characters into a string

In [23]:
L=['a','b','c','d']
''.join(L)
'!'.join(L)

'a!b!c!d'

### Strings and Loops

* for loops have a loop variable that iterates over a set of values
* range(start:end:step) is a way to iterate over numbers, but a for loop variable can iterate over **any set of values**, not just numbers!

#### Example

We want to figure out if there exists letters "b" or "d" inside the string.

* these two code snippets do the same thing
* bottom one is more “pythonic”

In [24]:
#Method 1
s = "abcde"

for index in range(len(s)):
    if s[index] == 'b' or s[index] == 'd':
        print("There is an b or d")

There is an b or d
There is an b or d

In [25]:
#Method 2
s = "abcde"

for char in s:
    if char == 'b' or char == 'd':
        print("There is an b or d")

There is an b or d
There is an b or d

----
### Exercise: Strings 

You are given a string representing an attendance record for a student. The record only contains the following **three characters**:

**'A' : Absent.
'L' : Late.
'P' : Present.**

A student could be rewarded if his attendance record **doesn't contain more than one 'A' (absent) or more than two continuous 'L' (late)**.

Question: You need to return whether the student could be rewarded according to his attendance record.

<img src='../images/Attendance Record.gif' width='30%'>

### Example 1:
**Input**: "PPALLP"

**Output**: True

### Example 2:
**Input**: "PPALLL"

**Output**: False

In [ ]:
def checkRecord(s):
#         """
#         :type s: str
#         :rtype: bool
#         """

####Write your function below#####

In [ ]:
#call the function
checkRecord("PPALLP")

----
## Tuples

* an ordered sequence of elements, **can mix element types**!
* Cannot change element values, **immutable (you cannot modify it)**!
* represented with parentheses ()

In [48]:
#empty tuple
tp=() # Length is 0

#Tuple example
t=(6,"Jodie",10,"Hi")
t

t+(5,"Hello")

(6, 'Jodie', 10, 'Hi', 5, 'Hello')

### Tuple - slicing

In [53]:
t[0:2]
t[0:1] #extra comma means tuple with only 1 element

(6,)

### Tuple - get length

In [54]:
len(t) #(6,"Jodie",10,"Hi")

4

### Tuple - immutable

In [26]:
t[0]=2 #would raise an error!

NameError: name 't' is not defined

### Why we need the Tuple data type??
Becasue:
1. conveniently used to swap variable values
2. used to return more than one value from a function

Example: swap values

In [56]:
x, y = 5, 8
print("x is",x)
print("y is",y)

('x is', 5)
('y is', 8)

In [57]:
#Method 1:
x, y ,z= 5, 8,1

(x,y,z)=(z,x,y)
print("x is",x)
print("y is",y)

('x is', 8)
('y is', 5)

In [48]:
#Method 2: by using a temp variable 
x, y = 5, 8

temp=x
x=y
y=temp
print("x is",x)
print("y is",y)

('x is', 8)
('y is', 5)

Example: return more than one value

In [27]:
def quotient_and_remainder(x, y):
    q = x // y
    r = x % y
    return (q,r)

In [65]:
(quot, rem) = quotient_and_remainder(10,3)
quot+=1
rem+=2

print(quot,rem)

(4, 3)

----
## Lists
* ordered sequence of information, accessible by index
* a list is denoted by square brackets, []
* a list contains elements
  * usually homogeneous (ie, all integers)
  * can contain mixed types (not common)
* list elements can be changed so a list is mutable

In [28]:
#empty list
L0=[] #length equals to 0

#List Index
colors = ['red', 'blue', 'green']
print (colors[0])    ## red
print (colors[2])    ## green

red
green

<img src='../images/list_index.png' width='50%'>

### Lists - Slicing and get length

In [30]:
#Common list
L=[1,4,7,2]
len(L)
L[1:3]
L[1]
L[-1] #last element
L[-2] #the last second element

7

### Lists - mutable

In [31]:
L[1]=10
L

[1, 10, 7, 2]

### Lists - homogeneous

In [ ]:
#uncommon list
L1=[2,5,[1,3,4],'a']
### 4.2.1 Iterate over a list
An example to iterate over a list:

Suppose we want to sum up all value in the list L=[1,4,2,5,7], how do you write this loop?

#Regular way
L=[1,4,2,5,7]
total = 0
for i in range(len(L)):
    total += L[i]
print total

#Iterating over a list:
total = 0
for i in L:
    total += i
print total
#we actually could iterate over list elements directly.
#L1[2] #give another list
#L1[5] #cannot exceed its index limit

### Lists and Loops: we can iterate over a list
An example to iterate over a list:

Suppose we want to sum up all value in the list L=[1,4,2,5,7], how do you write this loop?

In [65]:
#Regular way
L=[1,4,2,5,7]
total = 0
for i in range(len(L)):
    total += L[i]
print total

19

In [67]:
#Iterating over a list:
total = 0
for i in L:
    total += i
print total
#we actually could iterate over list elements directly.

19

> **Notice**
* list elements are indexed 0 to len(L)-1
* range(n) goes from 0 to n-1, but len=n-1+1=n

### Lists - append

* add elements to end of list with L.append(element)
* mutates the list!

In [70]:
L=[1,4,2,5,7]
L.append(10)
L

[1, 4, 2, 5, 7, 10]

**what is the dot?** e.g. L.append(10)
* lists are Python objects, everything in Python is an object
* objects have methods and functions
* access this information by object_name.do_something()

### Lists - concatenate

To combine lists together use concatenation, + operator, to give you a new list

In [72]:
L1=[1,3,5]
L2=[2,4]
L3=L1+L2
L3

[1, 3, 5, 2, 4]

###  Lists - extend

mutate list with L.extend(some_list)

In [74]:
L1=[1,3,5]
L1.extend([9,11]) #mutate L1 from [1,3,5] to [1,3,5,9,11]
L1

[1, 3, 5, 9, 11]

### Lists - remove

1. delete element at a specific index with **del(L[index])**
2. remove element at end of list with **L.pop()**, returns the **removed element**
3. remove a specific element with **L.remove(element)**
 * looks for the element and removes it
 * if element occurs multiple times, removes first occurrence
 * if element not in list, gives an error

In [75]:
L=[1,3,5,7,9,11]
del(L[1])
L

[1, 5, 7, 9, 11]

In [80]:
L=[1,3,5,7,9,11]
L.pop()
#L

11

In [83]:
L=[1,3,5,7,7,7,9]
L.remove(7)
L

[1, 3, 5, 7, 7, 9]

### Lists - sort

1. sort() and sorted()
2. reverse()
3. check more: [List Operations](https://docs.python.org/2/tutorial/datastructures.html)

In [34]:
L=[8,1,5,2]
sorted(L) #returns sorted list, does not mutate L

sorted(L,reverse=True)

[8, 5, 2, 1]

In [37]:
L.sort()### 4.2.7 LIST COMPREHENSIONS

List comprehensions provide a concise way to create lists. It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. 

The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it. 

For example, assume we want to create a list of squares, like:

#Example 1
squares = []
for x in range(10):
    squares.append(x**2)
squares

We can obtain the same result with List Comprehensions:

#Example 1: continue
squares = [x**2 for x in range(10)]
squares #mutate L
#L.sort(reverse=True) 
L

[1, 2, 5, 8]

> Tips: 
1. Use L[:] to clone a list
2. Use L[-int] to get the last ith element

In [93]:
L=[2,5,1]
L_copy=L[:]
L_copy

[2, 5, 1]

### List Comprehensions

List comprehensions provide a concise way to create lists. It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. 

The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it. 

#### Example 1: assume we want to create a list of squares, like:

In [38]:
#Example 1
squares = []

for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

We can obtain the same result with List Comprehensions:

In [4]:
#Example 1: continue
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Example 2: create tuples with List Comprehensions

In [ ]:
#Example 2
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

and its equivalent to:

In [5]:
#Example 2: continue
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

#### Example 3: create tuples (number, square) with List Comprehensions

In [39]:
#e.g.[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

[(x, x**2) for x in range(6)] # the tuple must be parenthesized, otherwise an error is raised

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

#### Example 4: flatten a list using two 'for'

In [40]:
L=[[1,2],[3,4,5],[6,7,8,9]]
[x for ele in L for x in ele]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

----------
## Exercise: List Comprehensions

### Problem 1: 

Suppose we have a list L=[-2,0,3,-1,4]. Please create a new list with the values doubled.

In [23]:
L=[-2,0,3,-1,4]
## insert in code here##

[-4, 0, 6, -2, 8]

### Problem 2: 

Suppose we have a list L=[-2,0,3,-1,4]. Please filter the list to exclude negative numbers.

In [24]:
L=[-2,0,3,-1,4]
## insert in code here##

[0, 3, 4]

### Problem 3: 

Suppose we have a list L=[-2,0,3,-1,4]. Please get absolute values of all elements.

In [39]:
L=[-2,0,3,-1,4]
## insert in code here##

[2, 0, 3, 1, 4]

### list comprehensions - Continue

With list comprehensions, we could quickly create a m\*n matrix in Python.

Example 1: create the 3*5 all-ones matrix

In [42]:
Matrix = [[1 for x in range(5)] for y in range(3)] 
Matrix

# Matrix[1][2]=3
# Matrix

[[1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]

another concise way to create the 3*5 all-ones matrix

In [43]:
Matrix = [[1]*5 for _ in range(3)] 
Matrix

[[1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]

> The underscore "_" here ignoring the specific values. (so-called “I don’t care”)

----

## Dictionaries (Maps)

It is best to think of a dictionary as an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary).

* Another **mutable** date type.
* Nice to use one data structure (no separate lists) and index item of interest directly.

<img src='../images/dictionary.png' width='60%'>

#### Example 1: create above information (food name and its value)
##### Solution1 : list
If we use lists to store above information. We need to....

* a	separate list for each item	
* each list	must have the same length	
* info stored across lists at same index, each index refers	to info	for	a different	item.

In [44]:
#list 1
item_list=["Eggs","Milk","Cheese","Yogurt","Butter","More Cheese"]
#list 2
value_list=[2.59,3.19,4.80,1.35,2.59,6.19]

def get_value(name,item_list, value_list):
    i = item_list.index(name)
    value = value_list[i]
    return (name, value)

get_value("Butter",item_list,value_list)

('Butter', 2.59)

###### Solution 2: dictionary

In [45]:
value = {"Eggs":2.59,"Milk":3.19,"Cheese":4.80,"Yogurt":1.35,"Butter":2.59,"More Cheese":6.19} 
#Braces {} represent dictionaries; Brackets [] are for lists; Parentheses () are for tuples.

value["Butter"]

2.59

### Dictionaries -add entries

In [31]:
#add an entry
value['Apple'] = 3.99
value

{'Apple': 3.99,
 'Butter': 2.59,
 'Cheese': 4.8,
 'Eggs': 2.59,
 'Milk': 3.19,
 'More Cheese': 6.19,
 'Yogurt': 1.35}

### Dictionaries -test key

In [28]:
#test if key in dicSonary

"Orange" in value
"Milk" in value

True

### Dictionaries -delete entries

In [32]:
#delete entry
del(value['Apple'])
value

{'Butter': 2.59,
 'Cheese': 4.8,
 'Eggs': 2.59,
 'Milk': 3.19,
 'More Cheese': 6.19,
 'Yogurt': 1.35}

### Dictionaries -get all keys

In [42]:
#get all keys (but order not promised)
value.keys()

['Butter', 'Cheese', 'Eggs', 'More Cheese', 'Yogurt', 'Milk']

### Dictionaries -add all values

In [34]:
#get all values (but order not promised)
value.values()

[2.59, 4.8, 2.59, 6.19, 1.35, 3.19]

> Keys and Values in Dictionaries (But orders are not promised!):
1. Keys:
 * must be unique
 * immutable (number, string, tuple, bool)
2. Values:
 * mutable
 * can be duplicates	
 * can be number, string, lists, even other	dictionaries!

Example for acceptable dictionary

In [46]:
d = {4:{1:0}, (1,3):"twelve", 'const':[3.14,2.7,8.44]}

In [47]:
type(d)

dict

## Assignment: counting frequencies of words in song lyrics

<img src='../images/des.jpg' width='50%'>

In [1]:
despacito=["Ya", "ya" ,"me","esta","gustando","mas","de","lo", "normal", 
"Todos", "mis", "sentidos", "van", "pidiendo" ,"mas", 
"Esto", "hay", "que", "tomarlo","sin", "ningun", "apuro","despacito", "Quiero","respirar","tu","cuello",
"despacito", "deja","que","te","diga","cosas","al","oido",
"Para","que", "te", "acuerdes","si","no","estas","conmigo"]

In [ ]:
def lyrics_to_frequencies(lyrics):
#      """ 
#     Input: lyrics, a list
#     Returns myDict, a dictionary, with word and its count
#      """ 
##Please insert your code here ##

In [ ]:
# Call the function
DY=lyrics_to_frequencies(despacito)