<img src='../images/wcd_logo.png' width='50%'>
-------------

<center> <h1> Python for Data Science </h1> </center>
<br>
<center><h2> Pandas DataFrame </h2> </center>
<center><img src='../images/pandas-logo.png' width='25%'> </center>

<br>
<center align="left"> Developed by: </center>
<center align="left"> WeCloudData Academy </center>



----------


> **pandas** is a Python package providing fast, flexible, and expressive data structures designed to make working with **“relational” or “labeled”** data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language. It is already well on its way toward this goal.

> pandas is well suited for many different kinds of data:

> * Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
* Ordered and unordered (not necessarily fixed-frequency) time series data.
* Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
* Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure

<h2> References </h2>

* Pandas Reference Guide https://pandas.pydata.org/pandas-docs/stable/

<h2> Table of Contents </h2>

1. Introducting Pandas Objects
2. Reading and Viewing Data
3. Data Indexing and Selection
4. Operations on DataFrame

---
# 1 - Introducing Pandas Objects

At the very basic level, Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with **labels** rather than simple integer indices. Pandas provides a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are. Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the **Series**, **DataFrame**, and **Index**.

In [1]:
import pandas as pd
import numpy as np

## 1.1 - Pandas Series Object

A Pandas Series is a **one-dimensional array** of indexed data. It can be created from a list or array as follows:

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

As we see in the output, the Series wraps both a sequence of values and a sequence of indices, which we can access with the **values** and **index** attributes. The values are simply a familiar NumPy array:

In [4]:
s.values

array([ 1.,  3.,  5., nan,  6.,  8.])

In [5]:
s.index

RangeIndex(start=0, stop=6, step=1)

Like with a NumPy array, data can be accessed by the associated index via the familiar Python **square-bracket** notation:

In [6]:
s[2]

5.0

In [9]:
s[1:3]

1    3.0
2    5.0
dtype: float64

### Series as NumPy array

The essential difference between a Series and Numpy Array is the **presence of the index**: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values.

This explicit index definition gives the Series object additional capabilities. For example, **the index need not be an integer**, but can consist of values of any desired type. For example, if we wish, we can use strings as an index:

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [11]:
data['a']

0.25

We can even use non-contiguous or non-sequential indices:

In [12]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

### Series as Specialized Dictionary

We can think of a Pandas Series a bit like a specialization of a Python dictionary. A dictionary is a structure that **maps arbitrary keys to a set of arbitrary values**, and a Series is a structure which **maps typed keys to a set of typed values**. This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas Series makes it much more efficient than Python dictionaries for certain operations.

In [14]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [15]:
population.values

array([38332521, 19552860, 12882135, 19651127, 26448193])

In [16]:
population.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

Unlike a dictionary, though, the Series also supports array-style operations such as slicing:

In [17]:
population['California':'Illinois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing Series Object

> pd.Series(data, index=index)

In [18]:
# For example, data can be a list or NumPy array, 
#in which case index defaults to an integer sequence
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [21]:
# data can be a scalar, which is repeated to fill the specified index
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [26]:
#create the area series from a dict
l1=[2,3]
pd.Series({2:'a', 1:'b', 3:'c', 4:'d'}, index=l1)

2    a
3    c
dtype: object

### $\Delta$ Exercise 1.1 Creating Series

#### Question: Create a Series from a dictionary that has integer 0 to 19 as index and random number between range [0, 1]. You should expect output like this


**values**  
`[ 0.98000537  0.53676033  0.34231615  0.28810771  0.44019861  0.47648493  
  0.92837637  0.94332922  0.80151369  0.19528723  0.35994866  0.91016936  
  0.01509227  0.42555103  0.92382457  0.28921169  0.91818309  0.79261148  
  0.16085329  0.41213327]  `
  
**index**   
`Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], dtype='int64')`

In [ ]:
import random

##### Insert your code below #####

## 1.2 - Pandas DataFrame Object

### DataFrame as a numpy array

If a Series is an analogy of a one-dimensional array with flexible indices, a DataFrame is an analogy of a **two-dimensional array with both flexible row indices and flexible column names**. Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a DataFrame as a sequence of aligned Series objects. Here, by "aligned" we mean that they **share the same index**.

#### Create two series 

> the two series will be put into a dataframe later as two columns

In [27]:
# create the population series from a dict
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [28]:
# create the area series from a dict
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

#### Use a dictionary to create a two-dimensional object

In [29]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

Like the Series object, the DataFrame has an **`index`** attribute that gives access to the index labels as well as a **`columns`** attribute

In [30]:
print(states.index)
print(states.columns)

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')
Index(['area', 'population'], dtype='object')

Thus the DataFrame can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### DataFrame as specialized dictionary

Similarly, we can also think of a DataFrame as a specialization of a dictionary. Where a dictionary maps a key to a value, a DataFrame maps a column name to a Series of column data. For example, asking for the 'area' attribute returns the Series object containing the areas we saw earlier:

In [31]:
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

### Constructing DataFrame objects¶
A Pandas DataFrame can be constructed in a variety of ways. Here we'll give several examples.

#### $\Omega$ Constructing DataFrame from a dictionary of Series objects
As we saw before, a DataFrame can be constructed from a dictionary of Series objects as well:

In [32]:
# create the population series 
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)

# create the population series 
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

# create the dataframe from a dict of series
states = pd.DataFrame({'population': population,
                       'area': area})

states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

#### $\Omega$ Constructing DataFrame from a 2-d numpy array with index and columns

Given a two-dimensional array of data, we can create a DataFrame with any specified column and index names. **If omitted, an integer index will be used for each:**

In [40]:
pd.DataFrame(np.random.randint(0, 4,(3,2)), #random samples from a uniform distribution over [0, 1).
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

#omit the index
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'])

        foo       bar
0  0.533967  0.270300
1  0.447445  0.726100
2  0.352799  0.171643

#### $\Omega$ Constructing DataFrame from a NumPy structured array
A Pandas DataFrame operates much like a structured array, and can be created directly from one:

In [42]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

#### $\Omega$ Constructing DataFrame from a list of dicts
Any list of dictionaries can be made into a DataFrame. We'll use a simple list comprehension to create some data:

In [43]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]

print(data)

pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

   a  b
0  0  0
1  1  2
2  2  4

In [47]:
pd.Series(np.random.uniform(0,2,10))

0    1.049763
1    0.120248
2    1.664531
3    1.464871
4    0.345931
5    1.614564
6    0.898857
7    1.219751
8    0.017026
9    0.289590
dtype: float64

### $\Delta$ Exercise 1.2 Creating DataFrames

#### Question: Create a dataframe from 2-d numpy array. Index will be dates from 2013-01-01 to 2013-01-06 and column names will be ['A', 'B', 'C', 'D'] and fill the dataframe with random number as values
    
`Expected output` 
<img src='../images/pandas_df_q1.png' width='30%'>

#### Lab 1.2 - Questions: Create a dataframe from 2-d numpy array

In [ ]:
##### Insert your code below #####

> **pandas.date_range():** Return a fixed frequency DatetimeIndex, with day (calendar) as the default frequency

## Pandas Index Object

We have seen here that both the Series and DataFrame objects contain an explicit index that lets you reference and modify data. This Index object is an interesting structure in itself, and it can be thought of either as an **`immutable array`** or as an **`ordered set`** (technically a multi-set, as **Index objects may contain repeated values**). Those views have some interesting consequences in the operations available on Index objects. As a simple example, let's construct an Index from a list of integers:

In [ ]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

### Index as an immutable array

The Index in many ways operates like an array. For example, we can use standard Python indexing notation to retrieve values or slices:

In [ ]:
print(ind[1])
print(ind[::2])
print(ind.size, ind.shape, ind.ndim, ind.dtype)

However, if you want to modify an index, you will get errors. One difference between Index objects and NumPy arrays is that **indices are immutable**–that is, they cannot be modified via the normal means:

In [ ]:
ind[1] = 0

---
# 2 - Reading and Viewing Data

Pandas can read data from many different sources such as csv file, relational databases, data APIs etc. In this lecture, we will teach students how to work with csv files.

## 2.1 - Reading data from csv files

> `pd.read_csv(filepath, sep=',', encoding=None, index_col=None)  `

To get help on pd.read_csv(), refer to https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

### Read csv without specifying a separator

It's always a good habit to check out the separator in the raw data. Without providing a separator in the read_csv funtion, the entire line gets read into one column

In [ ]:
broken_df = pd.read_csv('../data/bikes.csv')
broken_df[:3]

### Properly set the separator and encoding method

In [ ]:
### read data with delimiters and char encoding
fixed_df = pd.read_csv('../data/bikes.csv', 
                       sep=';', 
                       encoding='latin1')
fixed_df[:3]

### Set the Date column to be index

In [ ]:
fixed_df.set_index(['Date'], inplace=True)
#inplace=True: Modify the DataFrame in place (do not create a new object)

### Visualize the data using plot()

In [ ]:
# Plot the "Berri 1' column
import matplotlib.pyplot as plt
%matplotlib inline

plt.rcParams['figure.figsize'] = (10, 4)
#rc: automatically run and configure your setting.
#matplotlib.rcParams is global to the matplotlib package

fixed_df['Berri 1'].plot()

#### Plot all the columns

In [ ]:
fixed_df.plot(figsize=(15, 10))

### $\Delta$ Exercise 2.1 - Read apple stock data into a DataFrame and plot the price over time

Question: 
1. Read the "../data/AAPL.csv" file into a dataframe 
2. Set date column as index
3. Sort the dataframe by date index
4. Plot the 'Adj Close' price trend over time

#### Read stock data

In [ ]:
##### Insert your code below #####

#### Set 'Date' column as index

In [ ]:
##### Insert your code below #####

#### Sort the dataframe by date index

In [ ]:
##### Insert your code below #####

#### Plot the trend for 'Adj Close' price

In [ ]:
##### Insert your code below #####

## 2.2 - Exploring DataFrames

### Load the 311 servicde requests data

In [ ]:
complaints = pd.read_csv('../data/311-service-requests.txt', dtype={'Incident Zip': object})
complaints.set_index('Unique Key', inplace=True)

In [ ]:
complaints

### Viewing the first few rows

In [ ]:
complaints.head(10)

### Viewing the last few rows

In [ ]:
complaints.tail(5)

### Print the index, columns and values

#### Extract the index

In [ ]:
complaints.index

#### Extract the column names into a list or index

In [ ]:
complaints.columns

#### Extract the values into numpy arrays

In [ ]:
complaints.values

### Print column data types

In [ ]:
#complaints.dtypes
complaints.info()

### `describe()` shows a quick statistic summary of your numeric data

In [ ]:
complaints.describe()

### Get value counts of a column

In [ ]:
complaints['Complaint Type'].value_counts()

In [ ]:
complaints['Complaint Type'].value_counts()[:20]

### Sort a DataFrame by Index

In [ ]:
complaints.head(3)

In [ ]:
complaints.sort_index(ascending=False).head(3)

### Sort a DataFrame by columns

In [ ]:
complaints.sort_values(by=['Created Date'], ascending=True).head(5)

#### Sort by multiple columns

In [ ]:
complaints.sort_values(by=['Location Type','Created Date'], ascending=[True, False]).head(5)

### $\Delta$ Exercise 2.2 Exploring the Twitter Dataset

Data Description:

* The twitter dataset has about 300k tweets
* List of columns:
    * id
    * timestamp (ts)
    * coordinate
    * lat
    * long
    * tweet (text)
    
Questions:

* Load the twitter dataset into a dataframe
* Explore the first 10 rows
* Print a list of all columns
* Get value counts by date (NOT datetime) - number of tweets by day
* Sort the tweet data by time

#### Exercise 2.2 - 1. Load twitter data into dataframe

In [ ]:
### Your Code Below
twitter = pd.read_csv('../data/tweets.txt', 
                      sep='\t', 
                      encoding='latin1', 
                      names=['id', 'ts', 'coordinate', 'lat', 'long', 'tweet'])

#names: List of column names to use

#### Exercise 2.2 - 2. Print the first 10 rows and explore data

In [ ]:
##### Insert your code below #####

#### Exercise 2.2 - 3. Print column names

In [ ]:
##### Insert your code below #####

#### Exercise 2.2 - 4. Get value counts by date (NOT datetime) - number of tweets by day

In [ ]:
##### Insert your code below #####

#### Exercise 2.2 - 5. Sort the tweet data by time

In [59]:
##### Insert your code below #####
a=np.array([])
# a=np.insert(a,2,1)
# a

for i in range(3):
    a=np.insert(a,i,2*i)

print(a)

[0. 2. 4.]

### ---
# 3 - Data Indexing and Selection

The corresponding patterns in Pandas will feel very familiar to numpy, though there are a few quirks to be aware of.
We'll start with the simple case of the one-dimensional Series object, and then move on to the more complicated two-dimesnional DataFrame object.

## 3.1 Data Selection in Series
As we saw in the previous section, a Series object acts in many ways like a one-dimensional NumPy array, and in many ways like a standard Python dictionary. If we keep these two overlapping analogies in mind, it will help us to understand the patterns of data indexing and selection in these arrays.

### Series as dictionary

Like a dictionary, the Series object provides a mapping from a collection of keys to a collection of values:

In [ ]:
import pandas as pd

data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

In [ ]:
data['b']

In [ ]:
'a' in data

In [ ]:
data.index

In [ ]:
list(data.items())

### Series as array

A Series builds on this **dictionary-like** interface and provides **array-style item selection** via the same basic mechanisms as NumPy arrays – that is, slices, masking, and fancy indexing. Examples of these are as follows:

#### slicing by explicit index

In [ ]:
data['a':'c']

#### slicing by implicit integer index

In [ ]:
data[0:2]

#### masking

In [ ]:
data[(data > 0.3) & (data < 0.8)]

#### fancy indexing

In [ ]:
data[['a', 'e']]

## 3.2 Data Selection in DataFrame

Pandas support several ways to access and select data in a DataFrame. Commonly used methods are:
`
* Selection by index (dictionary-style)
* Selection by label (array-style via loc)
* Selection by position (array-style via iloc)

In [ ]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

### 3.2.1 - Selection by Index (DataFrame as dictionary)

#### Selecting a single column, which yields a `Series`, equivalent to `df.A`

In [ ]:
data.area

In [ ]:
data['area']

In [ ]:
type(data['area'])

In [ ]:
data['area'] == data.area

#### Selecting multiple columns

In [ ]:
data[['area', 'pop']]

#### Turning a column series back to a dataframe

In [ ]:
pd.DataFrame(data['area'], columns=['area'])

#### Adding a new column to a dataframe

In [ ]:
data['density'] = data['pop'] / data['area']
data

#### Slicing the rows by row index (explicit)

In [ ]:
data['California': 'Illinois']

#### Slicing the rows by row index (implicit)

In [ ]:
data[0:3]

In [ ]:
data[0:3] == data['California': 'Illinois']

#### Slicing both rows and columns using dictionary style

In [ ]:
data['density'][2:5]

In [ ]:
data[2:5]['density']

### 3.2.2 - Selection by Label (array-style)

As mentioned previously, we can also view the DataFrame as an enhanced two-dimensional array. We can examine the raw underlying data array using the values attribute:

In [ ]:
data.values

With this picture in mind, many familiar array-like observations can be done on the DataFrame itself. For example, we can transpose the full DataFrame to swap rows and columns:

In [ ]:
data.T

Thus for array-style indexing, we need another convention. Here Pandas again uses the loc, iloc, and ix indexers mentioned earlier. Using the iloc indexer, we can index the underlying array as if it is a simple NumPy array (using the implicit Python-style index), but the DataFrame index and column labels are maintained in the result:

> **`loc`** works on labels in the index.  
> **`iloc`** works on the positions in the index (so it only takes integers).

#### Slicing rows and columns with `loc`

In [ ]:
data.loc['Illinois':'New York', 'pop':'density']

#### Selecting multiple columns with row slicing

In [ ]:
data.loc['Illinois':'New York', ['area', 'density']]

#### Row filtering
Any of the familiar NumPy-style data access patterns can be used within these indexers. For example, in the loc indexer we can combine masking and fancy indexing as in the following:

In [ ]:
data.loc[data.density > 100, ['pop', 'density']]

### 3.2.3 - Selection by Position (array-style)

#### Select rows by position

In [ ]:
data.iloc[3]

In [ ]:
data.iloc[2:5]

#### Slicing both rows and columns with `iloc`

In [ ]:
data.iloc[2:4, :2]

In [ ]:
data.iloc[1:3, :]

#### Fancy indexing

In [ ]:
data.iloc[[1,2,4],[0,2]]

### 3.2.4 - Boolean Indexing and Row Filtering

In [ ]:
data['density'] > 90

In [ ]:
data[data['density'] > 90]

In [ ]:
data[data.area == 170312]

#### Filtering on multiple columns

In [ ]:
pop_f = data['pop']>15000000
density_f = data['density']>95

In [ ]:
data[pop_f & density_f]

### $\Delta$ Lab - Data Selection and Indexing

Questions:

1. Get 10 most common complaint type from 311 complaint dataset
2. Select complaint type in the first 5 rows - dictionary style
3. Select Complaint Type and Descriptor columns for case "26595721" (unique key)
4. What is the most common 'Location Type' for complaints about 'Rodent'?
5. Select NY boroughs with most noise complaints?
6. Normalize the 'borough' noise complaint count in NY 'Borough' by the total noise counts in each borough and plot on a bar chart
7. Select all rows with 'Noise - Street/Sidewalk' complaint type in borough 'BROOKLYN'

In [ ]:
complaints = pd.read_csv('../data/311-service-requests.txt', dtype={'Incident Zip': object})
complaints.set_index('Unique Key', inplace=True)

#### 1. Select "Complaint Type" and get 10 most common complaint types

In [ ]:
##### Insert your code below #####

#### 2. Select complaint type in the first 5 rows

In [ ]:
##### Insert your code below #####

#### 3. Select Complaint Type and Descriptor columns for case "26595721" (unique key)

In [ ]:
##### Insert your code below #####

#### 4. What is the most common 'Location Type' for complaints about 'Rodent'?

In [ ]:
##### Insert your code below #####

#### 5. Select NY boroughs with most noise complaints?

In [ ]:
##### Insert your code below #####

#### 6. Normalize the 'borough' noise complaint count in NY 'Borough' by the total complains counts in each borough and plot on a bar chart

In [ ]:
##### Insert your code below #####

#### 7. Select all rows with 'Noise - Street/Sidewalk' complaint type in borough 'BROOKLYN'

In [ ]:
##### Insert your code below #####